{% extends "layout_hof.html" %}

{% block content %}
<div class="row hall-of-fame">
    <div class="col-12">
        <section class="row title-section">
            <div class="col-12">
                <div class="title top">Supporters</div>
                <div class="title">HALL <span class="small">of</span> FAME</div>
            </div>
        </section>
        <section class="row">
            <div class="col-12 supporters">
                <div class="supporter">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="306px" height="306px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve">
                    <g>
                    <g>
                    <polygon points="153,230.775 247.35,299.625 211.65,187.425 306,121.125 191.25,121.125 153,6.375 114.75,121.125 0,121.125
			                                94.35,187.425 58.65,299.625" />

	                        </g>
                        </g>
                    </svg>

                    <p>Steve Jobs (not really)</p>
                </div>
                
                <a class="supporter" href="https://ko-fi.com/C0C71PDPA" target="_blank">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         width="306px" height="306px" viewBox="0 0 306 306" style="enable-background:new 0 0 306 306;" xml:space="preserve">
                    <g>
                    <g>
                    <polygon points="153,230.775 247.35,299.625 211.65,187.425 306,121.125 191.25,121.125 153,6.375 114.75,121.125 0,121.125
			                                    94.35,187.425 58.65,299.625" />

	                        </g>
                        </g>
                    </svg>
                    <p>Your Name Here</p>
                </a>
            </div>
        </section>
    </div>

</div>

{% endblock %}

