{% extends "layout.html" %}

{% block content %}

<div class="row">
    <div class="col-12 padding-bottom-2rem">
        <h2 class="LobsterTwo">BeautyWrongs</h2>
        <p>
            Generate beautiful images with click of button. My code will eat your words.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <form class="form-group">
            <div class="d-flex flex-row justify-content-center">
                <label for="input_sentence" class="big">Type your meaningful sentence</label>
            </div>           
            <input id="input_sentence" class="input-sentence form-control" data-bind="value:InputSentence" />
            <div class="d-flex flex-row justify-content-end">
                <button type="submit" class="btn btn-primary" data-bind="click:ProcessSentence">Generate</button>
            </div>
        </form>
        <div class="canvas" data-bind="foreach:SplitSentence">
            <p data-bind="text:Text, class:Font"></p>
        </div>
    </div>

    <div class="col-sm-12 col-md-6">
        <label data-bind="visible:SplitSentence().length > 0">Change fonts</label>
        <div class="controls" data-bind="foreach:SplitSentence">
            <div class="item">
                <p data-bind="text:Text"></p>
                <select data-bind="value:Font" class="form-control">
                    <option value="Lobster">Lobster</option>
                    <option value="LobsterTwo">Lobster Two</option>
                    <option value="DancingScript">Dancing Script</option>
                    <option value="PermanentMarker">Permanent Marker</option>
                    <option value="Satisfy">Satisfy</option>
                    <option value="SpecialElite">Special Elite</option>
                </select>
            </div>

        </div>
    </div>
</div>
    {% endblock %}
