<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyWrongs - The buggiest typography generator</title>

    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

</head>

<body>
    <div class="container body-content">
        <section>
            {% block content %}{% endblock %}
        </section>
        <section>
            <hr />
            <footer>
                <p>&copy; {{ year }} - BeautyWrongs - Based on a bug from the development of <a href="https://github.com/soniarizzodev/BeautyWords" target="_blank" rel="noopener">BeautyWords</a>. Accidentally created by <a href="https://www.soniarizzodev.com/" target="_blank" rel="noopener">SoniaRizzoDev</a>.</p>
            </footer>
        </section>
        
    </div>
    <script type="text/javascript" src="/static/scripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/static/content/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/knockout-3.5.1.debug.js"></script>
    <script type="text/javascript" src="/static/scripts/viewmodels.js"></script>
    <script>
        window["app"] = new App();
        ko.applyBindings(app, document.body);
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
