<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeautyWords - The easiest typography generator</title>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@soniasunset" />
    <meta property="og:title" content="BeautyWords - The easiest typography generator">
    <meta property="og:description" content="Generate a beautiful poster with your favourite sentences">
    <meta property="og:image" content="https://beautywords.herokuapp.com/static/images/beautywords_preview.png">

    <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/icons/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/icons/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/icons/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/icons/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/icons/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/icons/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/icons/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/icons/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icons/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='images/icons/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='images/icons/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icons/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/icons/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/icofont/icofont.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

</head>

<body>
    <section class="body-content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2 class="LobsterTwo logo"><a href="{{url_for('home')}}">BeautyWords</a></h2>
                    <p>
                        Automatically generate beautiful typography images with the click of a button.
                    </p>
                </div>
            </div>
            {% block content %}{% endblock %}
        </div>
        
       
        <footer>
            <p>&copy; {{ year }} - BeautyWords - Created by <a href="https://www.soniarizzodev.com/" target="_blank" rel="noopener">SoniaRizzoDev</a> - Check out the code on <a href="https://github.com/soniarizzodev/BeautyWords" target="_blank" rel="noopener">GitHub</a>
            - Visit my hilariously damaged brother <a href="https://beautywrongs.herokuapp.com/" target="_blank" rel="noopener">BeautyWrongs</a></p>
            <a href="{{url_for('privacy')}}">Privacy</a>
            
        </footer>
    </section>
    
    <script type="text/javascript" src="/static/scripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript" src="/static/content/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/scripts/knockout-3.5.1.debug.js"></script>
    <script type="text/javascript" src="/static/scripts/viewmodels.js"></script>
    <script>
        window["app"] = new App();
        ko.applyBindings(app, document.body);
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
