:root{
    --font-size:4rem;
}

*{
    box-sizing:border-box;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Manrope', sans-serif;
    background-color:#C95D63;
    color:#f3f9fd;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.canvas{
    margin:50px 0 30px 0;
    padding:100px;
    font-size:var(--font-size);
    border:1px solid #d8d8d8;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;   
    background-color:#f3f9fd;
    color:#272932; 
}

.canvas p{
   margin:0;
   line-height:calc(var(--font-size) / 3 * 2.5);   
   opacity:0.9;
}

label.big{
    font-size:1.3rem;
}

.input-sentence{
    display:block;
    width:100%;
    margin-bottom:.5rem;
    padding:0 5px;
    border-radius:3px;
    border:none;
    font-size:1.5rem;
    color:#4f546b;
}

.controls .item{
    margin-bottom:10px;
}

.controls .item p{
    display:inline-block;
    padding: .375rem;
    padding-right:20px;
    margin:0;
    background-color:#ffffff;
    border:1px solid #ffffff;
    border-radius:.25rem;
    height:calc(1.5em + .75rem + 2px);
    color:#4f546b;
}

.controls .item select{
    display:inline-block;
    width:39%;
    color:#4f546b;
}

h2{
    font-size:2.7rem;
    padding-bottom:15px;
}

.line{
    text-decoration:line-through;    
}

.wrongs{
    display:inline-block;
    transform: rotate(+20deg); 
    font-size:1.5rem;
    position:relative;
    top:0.7rem;
}

.padding-bottom-2rem{
    padding-bottom:3rem;
}

.btn-primary{
    background-color:#16b2b5;
    border-color: #16acaf;
}

.btn-primary:hover {
    background-color: #18a2a5;
    border-color: #188d8f;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
     background-color: #18a2a5;
    border-color: #188d8f;
}

a, a:hover, a:active{
    color:#4f546b;
}

/*Fonts*/
@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: "LobsterTwo";
    src: url(../fonts/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: "DancingScript";
    src: url(../fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: "PermanentMarker";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "Satisfy";
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "SpecialElite";
    src: url(../fonts/SpecialElite-Regular.ttf);
}

.Lobster {
    font-family: "Lobster";
}

.LobsterTwo {
    font-family: "LobsterTwo";
}

.DancingScript {
    font-family: "DancingScript";
}

.PermanentMarker {
    font-family: "PermanentMarker";
}

.Satisfy {
    font-family: "Satisfy";
}

.SpecialElite {
    font-family: "SpecialElite";
}