:root{
    --font-size:4rem;
    font-size:16px;
}

*{
    box-sizing:border-box;
}

html{
    min-height:100vh;
}

body {    
    font-family: 'Manrope', sans-serif;
    background-color:#5abcbc;
    color:#000000b5;
    min-height:100vh;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

body.hof-container {
    font-family: 'Manrope', sans-serif;
    background-color:#1c1c1c;
    background-image:none;
    color:#ffffff;
    min-height:100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.container{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.logo a{
   color:#ffffff !important; 
}

.logo a:hover, .logo a:focus, .logo a:active {
   color:#ffffff;
   text-decoration:none; 
}

.separator{
    display:block;
    width:100%;
    height:30px;
}

.separator div{
    margin:20px auto;
    height:1px;
    width:200px;
    background-color:#1e8f85a1;
}

.canvas{
    margin:10px 0 30px 0;
    padding-top:150px;
    padding-bottom:150px;
    padding-left:5%;
    padding-right:5%;
    font-size:var(--font-size);
    border:1px solid #d8d8d8;
    border-radius:3px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;    
}

.canvas p{
   margin:0;
   line-height:calc(var(--font-size) / 3 * 2.5);   
   opacity:0.9;
   width:100%;
   word-wrap:break-word;
   text-align:center;
}

.colors{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    flex-wrap:wrap;
    
}

.colors div{
    width:30px;
    height:30px;
    border:1px solid #efefef;
    border-radius:.35rem;
    margin:0 5px 5px 5px;
}

.colors div:hover{
    cursor:pointer;
    border:2px solid #efefef;
}

.color1{
    background-color:#f3f9fd;
    color:#272932; 
}

.color2{
    background-color:#f45b69;
    color:white; 
}

.color3{
    background-color:#247ba0;
    color:white; 
}

.color4{
    background-color:#5abcbc;
    color:white; 
}

.color5{
    background-color:#1c2541;
    color:white; 
}

.color6{
    background-color:#21242e;
    color:white; 
}

.color7{
    background-color:#f25f5c;
    color:white; 
}

.color8{
    background-color:#b5838d;
    color:white; 
}

.color9{
    background-color:#ffe066;
    color:#333333; 
}

.color10{
    background-color:#dcdcdd;
    color:#333333; 
}

label.big{
    font-size:1.3rem;
}

.input-sentence{
    display:block;
    width:100%;
    margin-bottom:.5rem;
    padding:0 5px;
    border-radius:3px;
    border:none;
    font-size:1.5rem;
    color:#4f546b;
}

.controls{
    padding-top:10px;    
}

.controls .item{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    margin-bottom:10px;
}

.controls .item select{
    color:#4f546b;
    margin:0 5px;   
}

.controls .item input{
    color:#4f546b;
    min-width:0;
}

h2{
    font-size:2.7rem;
}

.box{
    color: #000000c4;
    padding:20px;
    border:1px solid #ffffff;
    border-radius:.25rem;
    margin-bottom:20px;
    background: rgb(255 255 255 / 30%);
    box-shadow: 0 8px 32px 0 rgb(106 153 151 / 39%);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.3 );
}

.padding-bottom-2rem{
    padding-bottom:3rem;
}

.padding-top-30{
    padding-top:30px;
}

 h1{
    font-size:1.9rem;
    text-transform:uppercase;
}

.privacy h2{
    font-size:1.4rem;
}

.privacy h2.title{
    margin:0;
    padding-bottom:30px;
}

section.privacy{
    margin:20px 0;
    padding-top:1rem;;
    border:1px solid #ffffff;
    border-radius:.35rem;
    background-color:#fffdfdc2;
    color:#4f546b;
}

footer{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:flex-end;
    padding:0;
    padding-top:20px;
    padding-bottom:5px;
}

footer p{
    margin:0;
    padding-right:10px;
}

.hall-of-fame{
    color:#ffb301;
    border:6px solid #ffe7af;
    border-radius:6px;
    margin:50px 0;
    line-height:1;
    flex:1;  
    animation: flicker 5s alternate infinite;
    font-family: 'Cinzel', serif;     
}

.hall-of-fame .title-section{
    padding:70px 0;   
}

.hall-of-fame .title{
    text-align:center;
    font-size:4rem;
    font-weight:600;    
}

.hall-of-fame .title.top{
    font-size:1.5rem; 
    font-weight:400;
}

.hall-of-fame .title .small{
    font-size:2rem;
}

.supporters{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.supporter{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding:0 20px;
    padding-bottom:7px;
    margin-bottom:63px;
}

a.supporter{
    cursor:pointer;
    border-bottom:2px solid #1c1c1c;
    will-change:border-bottom;
    transition:border-bottom 0.3s ease;
}

a.supporter:hover{
    text-decoration:none;
    border-bottom:2px solid #ffc231;
}

.supporter svg{
    height:100px;
    width:100px;
    fill:#ffb915;  
    will-change:fill;
    transition:fill 0.3s ease;  
}

a.supporter:hover svg{
    fill:#ffc231; 
}

.supporter p{
    padding-top:10px;
    margin:0;
    color:#ffb915;
    font-size:1.1rem;
}

a.supporter:hover p{
    color:#ffd061; 
    will-change:color;
    transition:color 0.3s ease; 
}

/* Animate neon flicker */
@keyframes flicker {
    
   0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
        box-shadow:
            0 0 6px #ffe7af,
            inset 0 0 6px #ffe7af,
            0 0 15px #ffcc57,
            inset 0 0 15px #ffcc57,
            0 0 20px #ffcc57,
            inset 0 0 20px #ffcc57;       
    }
    
    20%, 24%, 55% {  
        box-shadow:
            0 0 6px #ffecc0,
            inset 0 0 6px #ffecc0,
            0 0 15px #918260,
            inset 0 0 15px #918260,
            0 0 20px #918260,
            inset 0 0 20px #918260;  
    }
}

.btn.fab{
    position:absolute;
    bottom:50px;
    right:30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 4px 2px rgba(0,0,0,0.2);
    font-size:24px;
}

.btn.with-icon i{
    padding-right:5px;
}

.btn-primary.full-width{
    display:block;
    width:100%;
}

.btn-primary.small{
    font-size:0.8rem;
    white-space: nowrap;
}

.btn-primary.small .spinner-border{
    width:1rem;
    height:1rem;
    margin-right:5px;
    border:2px solid currentColor;
    border-right-color:transparent;
}

.btn.fab .spinner-border{
    border:3px solid currentColor;
    border-right-color:transparent;
}

.btn-primary{
    background-color: #3ea3af;
    border-color: #2d8892;
}

.btn-primary:hover {
    background-color:#49a9b5;
    border-color: #2d8892;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color:#49a9b5;
    border-color: #2d8892;
}

.btn-primary.focus, .btn-primary:focus {
    background-color:#49a9b5;
    border-color: #2d8892;
}

.btn-red{
    background-color: #ff7293;
    border-color: #ff5f84;
    color:white;
}

.btn-red:hover {
    background-color:#ff84a0;
    border-color: #ff6488;
    color:white;
}

    .btn-red:not(:disabled):not(.disabled).active, .btn-red:not(:disabled):not(.disabled):active, .show > .btn-red.dropdown-toggle {
        background-color: #ff84a0;
        border-color: #ff6488;
    }

    .btn-red.focus, .btn-red:focus {
        background-color: #ff84a0;
        border-color: #ff6488;
    }


a, a:hover, a:active{
    color:#4f546b;
}

.hof-container a, .hof-container a:hover, .hof-container a:active{
    color:#8e92a8;
}

.modal-title{
    color:#4f546b;
}

.modal-body{
    text-align:center;
    padding:40px 0;
}

/*Fonts*/
@font-face {
    font-family: "Lobster";
    src: url(../fonts/Lobster-Regular.ttf);
}

@font-face {
    font-family: "LobsterTwo";
    src: url(../fonts/LobsterTwo-Regular.ttf);
}

@font-face {
    font-family: "DancingScript";
    src: url(../fonts/DancingScript-Regular.ttf);
}

@font-face {
    font-family: "PermanentMarker";
    src: url(../fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: "Satisfy";
    src: url(../fonts/Satisfy-Regular.ttf);
}

@font-face {
    font-family: "SpecialElite";
    src: url(../fonts/SpecialElite-Regular.ttf);
}

@font-face {
    font-family: "FugazOne";
    src: url(../fonts/FugazOne-Regular.ttf);
}

@font-face {
    font-family: "Spinnaker";
    src: url(../fonts/Spinnaker-Regular.ttf);
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Cinzel;
  src: url(../fonts/Cinzel-Bold.ttf);
  font-weight: bold;
}

.Lobster {
    font-family: "Lobster";
}

.LobsterTwo {
    font-family: "LobsterTwo";
}

.DancingScript {
    font-family: "DancingScript";
}

.PermanentMarker {
    font-family: "PermanentMarker";
}

.Satisfy {
    font-family: "Satisfy";
}

.SpecialElite {
    font-family: "SpecialElite";
}

.FugazOne {
    font-family: "FugazOne";
}

.Spinnaker {
    font-family: "Spinnaker";
}

.Cinzel {
    font-family: "Cinzel", serif;
}

@media (max-width:767px){
    .hall-of-fame .title .small{
        display:block;
    }
}

@media (max-width:576px){
    .canvas p{
        font-size:3rem;
        line-height:calc(3rem / 3 * 2.5);    
    }
}